select { width: 400px; text-align-last:center; }
#sidenav select {
    width:100%;
}
.menutext div > button:nth-child(1) {
    cursor:pointer;
   
    background-color: white;
    outline:none;
    width: 80%;
    padding:10px;
    transition:background-color ease 200ms;
}

.menutext div > button:nth-child(2) {
    cursor:pointer;
    width: 20%;
    padding:10px;
}
.settingp {
margin:0px;
}
.colonne2 div,.colonne2 div select{
    width:100%;
    }
.colonne2 {

display:flex;
height:auto;
width:100%;
}
#header {
padding-left:0px;
padding-right:0px;
height:100px;
background-color:black;
}
#reglagebutton {
width:100%;
padding:10px;
}

h1 {
 
    font-size: 36px;
    margin: 0px;
}

h2 {
    font-size: 26px;
    margin: 0px;
    }
p {
    margin: 0px;
    font-size:18px;
}
#sidenav p {
    text-align: center;
}
#sidenav {
    width: 200px;
    height:100vh;
    position: fixed;
    z-index: 1;
    top:0;
    left: 0px;
    background: #1c1c1e;

    overflow-x: hidden;
    overflow-y: auto;
    color: white;
    transition:ease 300ms;
  }
  #sidenav::-webkit-scrollbar-thumb
{
	background-color: #000000;
}


  
#main {
    transition:ease 300ms;
    margin-left: 200px; /* Same width as the sidebar + left position in px */
    
  }
  
.menutext {
    display:flex;
    flex-direction: column;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:40%;
}
.imagediv {
    height:inherit;
    text-align:center;
}
body {
    margin:0px;
}
input[type="file"] {
    display: none;
}
input[type="range"] {
    width: 100%;
}

.hamburgerbouton {
    margin:5px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    align-items: center;
    flex-wrap: wrap;
  }
.bar1, .bar2, .bar3 {
    margin-left: auto;
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 3px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }

 
  